$primary-color: black;
$secondary-color: white;

$light-blue-background: rgb(44, 118, 239);
$dark-blue-background: rgb(0, 25, 98);

$font-size-m: 15px;

$font-weight-header: 600;

$header-height: 6rem;
$destination-height: 8rem;

$section-margin: 8rem;
$content-section-margin: 4rem;
